/* /Components/Button.razor.rz.scp.css */
.button[b-iwfkbayi00] {
    justify-content: center;
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.button.disabled[b-iwfkbayi00] {
    background-color: var(--primary-faded);
    cursor: not-allowed;
}
/* /Components/Create/SelectDifficulty.razor.rz.scp.css */
.container[b-tx1rx9yp40] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > div[b-tx1rx9yp40] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.selection[b-tx1rx9yp40] {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.select-item[b-tx1rx9yp40] {
    padding: 5px;
    cursor: pointer;
    border: 2px solid white;
}

.select-item.selected[b-tx1rx9yp40] {
    border: 2px solid red;
    border-radius: 4px;
}

.select-item.disabled[b-tx1rx9yp40] {
    color: grey;
    cursor: not-allowed;
}
/* /Pages/Index.razor.rz.scp.css */
.container[b-1n5gxd2z59] {
    padding: 20px 10px 10px 10px;
    display: flex;
    justify-content: center;
}
/* /Shared/MainLayout.razor.rz.scp.css */
/* /Shared/NavMenu.razor.rz.scp.css */
.container[b-yx2wnrdf05] {
    padding: 10px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
}

.title[b-yx2wnrdf05] {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.home[b-yx2wnrdf05] {
    color: white;
}
