.container {
    padding: 10px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.home {
    color: white;
}