@attribute [Route(Path)]
@using Cryptid.Components.Create;

<PageTitle>Cryptid - Create</PageTitle>

@if(State == CreateState.SelectDifficulty)
{
    <SelectDifficulty Submit="@SubmitDifficulty"/>
}

@if(State == CreateState.SelectRule)
{
    <div>Select Rule</div>
}